@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

h3{
    color: blue;
    
}
.PARAGRAPH{
    color: rgb(184, 122, 241);
}
h1{
    font-family: "Pacifico";
    margin: 10px;

}