@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@900&display=swap');

body{
    background: url(img/mainpic.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Noto, sans-serif;
    min-height: 100%;
    display: flex;
}

.front-display{
    position: relative;
    width: 100%;
    padding: 60p
}

.content{
    margin-top: 100px;
    margin-left: 30px;
    padding-left: 1.5rem;
    border-left: 4px solid #0400e4;
}

.content-bold{
    color: lime;
}

.content-bold em{
    color:red;
}

.info{
    color: rgb(255, 255, 255);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav {
    margin-top: -15px;
    width: 100%;
    height: 87px;
    background-color: rgba(0, 0, 0, 0.363);
}

ul {
    margin-left: 760px;
    justify-content: space-around;
}

ul li {
    list-style: none;
    display: inline-block;
    line-height: 80px;
}

ul li a{
    text-decoration: none;
    font-size: 18px;
    font-family:Arial;
    color: rgb(113, 189, 199);
    padding:  20px;
}

li .home:before{
    content: "";
    width: 55px;
    position: absolute;
    border-bottom: 3px solid;
    bottom: 604px;
    color: rgb(255, 0, 0);
}

li .about:before{
    content: "";
    width: 65px;
    position: absolute;
    border-bottom: 3px solid;
    bottom: 604px;
    color:rgb(255, 255, 0);
}

li .sale:before{
    content: "";
    width: 49px;
    position: absolute;
    border-bottom: 3px solid;
    bottom: 604px;
    color: rgb(0, 255, 0);
}

li .port:before{
    content: "";
    width: 105px;
    position: absolute;
    border-bottom: 3px solid;
    bottom: 604px;
    color: rgb(4, 0, 255);
}

li .contact:before{
    content: "";
    width: 89px;
    position: absolute;
    border-bottom: 3px solid;
    bottom: 604px;
    color: rgb(183, 0, 255);
}

li a:hover{
    color: red;
    background: dark green;
    text-transform: uppercase;
}

.logo img{
    position: absolute;
    margin-top: 7px;
    margin-left: 24px;
}

.info{
    margin-top: 18px;
    margin-left: 0px;
    margin-bottom: 40px;
}

.logo-name{
    font-weight: bold;
    font-style: oblique;
    font-size: 18px;
    color: rgb(255, 0, 0);
    position: relative;
    top: 38px;
    right: -120px;
}

.database{
    display: inline-block;
    margin-top: 20px;
    margin-left: 15px;
    padding: 8px 20px;
    background:rgb(0, 0, 0);
    color: rgb(0, 225, 0);
    border-radius: 40px;
    font-weight: 50000;
    letter-spacing: 1.5px;
    text-decoration: none;
    font-size: 13px;
    border-color: rgb(183, 0, 255);
    outline: none;
    box-shadow: 4px 8px 8px black;
    }

.read-more{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background:rgb(0, 0, 0);
    color: rgb(0, 255, 0);
    border-radius: 40px;
    font-weight: 50000;
    letter-spacing: 1.5px;
    text-decoration: none;
    font-size: 13px;
    border-color: rgb(183, 0, 255);
    outline: none;
    box-shadow: 4px 8px 8px black;
}

.database:hover{
    color: red;
    background: dark green;
    text-transform: uppercase;
}

.read-more:hover{
    color: red;
    background: dark green;
    text-transform: uppercase;
}

.search-type{
    border: 3px solid #7700ff;
    position: absolute;
    width: 250px;
    height: 30px;
    right: 730px;
    top: 190px;
    border-radius: 50px;
    padding: 0px 10px;
    background: rgb(168, 182, 209);
    font-size: 16px;
    font-weight: bolder;
    box-shadow: 4px 4px 8px black;
    outline: none;
}

.search-btn{
    position: absolute;
    top: 195px;
    right: 740px;
    border-radius: 50%;
    border: none;
    font-size: 19px;
    background:rgb(168, 182, 209);
    outline: none;
}

.category-dsc{
    margin: 16px;
    color: rgb(255, 8, 0);
}

.container{
    margin-top: -80px;
    padding-left: 650px;
}

.select-box{
    display: flex;
    width: 400px;
    flex-direction: column;
}

.select-box .options-container{
    background:rgb(42, 62, 65);
    color:rgb(255, 255, 255);
    width: 60%;
    transition: all 0,4s;
    border-radius: 8px;
    overflow: hidden;
    max-height: 0;
    opacity: 0;

    order: 1;
}

.selected{
    background: rgb(32, 18, 46);
    border-radius: 8px;
    margin-bottom: 8px;
    color: rgb(2, 255, 15);
    position: relative;
    width: 60%;
    order: 0;
}

.selected::after{
    content: "";
    
}

.select-box .options-container.active{
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
}

.select-box .options-container::-webkit-scrollbar{
    width: 8px;
    background-color: rgb(17, 0, 255);
    border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb{
    background-color: rgb(253, 0, 0);
    border-radius: 0 8px 8px 0;
}

.select-box .option, .selected{
    padding:12px 18px;
    cursor: pointer;
}

.select-box .option:hover{
    background-color: #7700ff;
}

.select-box label{
    cursor: pointer;
}

.select-box .option .radio{
    display: none;
}

.combo-box{
    margin-left: 950px;
    margin-top: -200px;
}

select{
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.363);
    font-size: 18px;
    padding: 1em 1.5em;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 0;
    border-radius: 15px;
    outline: none;
}

.test-buttons{
    margin-left: 100px;
    margin-top: 30px;
}

.test-submit{
    margin-left: 20px;
}

.textarea-container{
    margin-left: 70%;
    margin-top: -30%
}

