
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body
{
  padding: 30px;

  border-radius: 10px;
}

main
{
 
  padding: 30px;
  border: 3px solid black;
  border-radius: 10px;
}
.logotype

{
  color: sandybrown;
  font-family:  "Caveat";
  margin: 2px;
}

h3
{
margin: 15px 0;
padding: 15px;
text-align:  center;
font-size: 35px;
}

#html-logo
{
background-image: url("https://previews.123rf.com/images/ezepov/ezepov1509/ezepov150900014/45319915-flat-cartoon-hipster-icon-video-game-controller-with-hand-vector-illustration.jpg");
width: 75px;
height: 75px;
background-position: center;
background-size: cover;
margin-left: -40px;
border: 3px solid black;
border-radius: 10px;

}

header nav
{
 margin-left: 5px;
 font-family: Sriracha;
color: black;


}

nav a:hover
{
color: red;
transition: 0.6;
}



